#header-wrap {
    color: #fff;
    background-color: #262626;
    padding: 0 0 13px 0;
    position: fixed;
    width: 100%;
    z-index: 1002;
}
.clearheader {
    background: none;
    box-shadow: none;
}
header#header {
    padding-top: 13px;
}
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.grid-container .three.columns {
    width: 160px;
}
.grid-container .column, .grid-container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#header-wrap #logo img {
	display: block;
    height: 18px;
    margin-top: 10px;
}
.grid-container .thirteen.columns {
    width: 760px;
}
ul.nav {
    margin-bottom: 0;
}
.clearfix:before, .clearfix:after, .row:before, .row:after, .comment-form:before, .comment-form:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.nav li {
    margin-bottom: 0;
}
li {
    line-height: 18px;
    margin-bottom: 12px;
}
header .nav li a {
    float: right;
    margin-left: 5px;
}
.nav li a {
    font-size: 12px !important;
}
.nav li a {
    background: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 12px;
}
#site-wrapper {
    clear: both;
}
#page {
    padding-top: 0;
}
h3.home_title {
    color: #000;
    font-size: 21px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.number {
    float: left;
    text-align: center;
    margin: 0 5px;
    width: 230px;
}
.number .number {
    color: #999;
    font-size: 48px;
    font-weight: 500;
    line-height: 40px;
    padding: 5px 0;
}
.number span {
    margin-bottom: 5px;
}
.number span {
    display: block;
    margin-bottom: 10px;
}
.row {
    margin-bottom: 20px;
}
.row, .clearfix, .comment-form {
    zoom: 1;
}
.row:after, .clearfix:after, .comment-form:after {
    clear: both;
}
.bg-e9{
	background-color: #e9e9e9;
}
.bg-highlight{
	background: linear-gradient(#50A253, #4C954D) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.color-white{
	color: white !important;
}
.c_section .intro_text{
	width: 100%;
    text-align: center;
}
.c_section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup_cta form {
    margin: 0;
}
form {
    margin-bottom: 20px;
}
.create-course-form input[type="text"] {
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0 0 10px 0;
    max-width: 100%;
    padding: 8px 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c_section input, .c_section button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    float: none;
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto 5px;
    padding: 15px 0;
    width: 360px;
}
.c_section button {
    background: #4985b8;
    color: #fff;
    font-weight: 700;
    padding: 15px 0;
}
.container .eight.columns {
    width: 460px;
}
.success_quote {
    padding: 15px 0px;
}
.quotes_info{
	font-size: 13px;
    color: #999;
}
.container .three.columns {
    width: 160px;
}
.column.alpha, .columns.alpha {
    margin-left: 0;
}
.quote_image img {
    -moz-border-radius: 175px;
    -webkit-border-radius: 175px;
    border-radius: 175px;
}
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.container .five.columns {
    width: 270px;
}
.column.omega, .columns.omega {
    margin-right: 0;
}