#player {
    top: 10px;
    width: 100%;
}
#placeholder-player {
    margin-bottom: 10px;
    z-index: 0;
}
#theater-background {
    background-color: transparent;
    left: 0;
    position: absolute;
    width: 100%;
    -moz-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.player-height {
    height: 360px;
}
#player .player-api {
    position: absolute;
    z-index: 5;
}
.player-width {
    width: 640px;
}
.player-api {
    background: #000;
}
#player, #placeholder-player {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
    transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}
.html5-video-player {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    outline: 0;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    color: #eee;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    contain: strict;
}
#player-playlist {
    position: relative;
}
#player-playlist .watch-playlist {
    margin-left: -10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    -moz-transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
#player-playlist .watch-playlist {
    left: 650px;
}
.watch-playlist {
    background: #1a1a1a;
    color: #b8b8b8;
    margin-bottom: 10px;
    position: relative;
}
.watch-playlist .main-content {
    overflow: hidden;
}
#player-playlist .playlist-header {
    padding: 0 10px;
}
#player-playlist .playlist-header-content {
    font-size: 11px;
    height: 37px;
    line-height: 1.5;
    padding: 15px 5px 8px;
}
#player-playlist .appbar-playlist-controls {
    float: right;
}
.clearfix:before {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
#player-playlist .playlist-title {
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: normal;
}
#player-playlist .playlist-title a {
    color: inherit;
}
#player-playlist .playlist-details>li {
    display: inline-block;
}
#player-playlist .author-attribution {
    font-size: 11px;
}
#player-playlist .author-attribution a {
    color: inherit;
}
#player-playlist .playlist-info {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#player-playlist .playlist-header-content {
    font-size: 11px;
    height: 37px;
    line-height: 1.5;
    padding: 15px 5px 8px;
}

#player-playlist .playlist-details>li{display:inline-block}#player-playlist .playlist-details>li:after{content:'\002022'}#player-playlist .playlist-details>li:last-child:after{content:''}
.yt-uix-hovercard-target, .yt-uix-clickcard-target {
    cursor: pointer;
}
#player-playlist .yt-uix-button-player-controls:first-child {
    margin-left: 0;
}
/*Playlist detail*/
#player-playlist .playlist-details>li {
    display: inline-block;
}
#player-playlist .author-attribution {
    font-size: 11px;
}
#player-playlist .author-attribution a {
    color: inherit;
}
#player-playlist .playlist-details>li:after {
    content: '\002022';
}

hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}
a {
    color: #167ac6;
    cursor: pointer;
    text-decoration: none;
}
#player-playlist .playlist-videos-container {
    clear: both;
}
#player-playlist .playlist-videos-list {
    background-color: #222;
    bottom: 0;
    counter-reset: playlist-video-section;
    left: 0;
    overflow: auto;
    right: 0;
    position: absolute;
    top: 60px;
}
#player-playlist .playlist-videos-list li {
    overflow: hidden;
    padding: 10px 10px 10px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#player-playlist .playlist-videos-list li .index {
    font-size: 10px;
    float: left;
    line-height: 41px;
    margin: 0 2px;
    text-align: center;
    width: 24px;
}

#player-playlist .playlist-video {
    display: block;
    height: 41px;
    position: relative;
}
#player-playlist .playlist-video .video-thumb {
    float: left;
    margin-left: 0;
    margin-right: 8px;
}
.video-thumb {
    position: relative;
}
.yt-thumb-72 {
    width: 72px;
}
.yt-thumb {
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
}
.yt-thumb-default {
    padding-bottom: 56.25%;
}
.yt-thumb-poster, .yt-thumb-square, .yt-thumb-feed, .yt-thumb-related-playlist, .yt-thumb-default {
    display: block;
    height: auto;
}
.yt-thumb-clip {
    position: absolute;
    _position: static;
    bottom: -100px;
    top: -100px;
    left: -100px;
    right: -100px;
    text-align: center;
    white-space: nowrap;
    word-break: normal;
}
.yt-thumb-clip img, .yt-thumb-clip .vertical-align {
    display: inline-block;
    vertical-align: middle;
}
.yt-thumb img {
    font-size: 13px;
    outline: none;
}
.yt-thumb-clip img, .yt-thumb-clip .vertical-align {
    display: inline-block;
    vertical-align: middle;
}
.yt-thumb .vertical-align {
    height: 100%;
}
#player-playlist .playlist-video-description {
    overflow: hidden;
    position: relative;
    top: -2px;
}
#player-playlist .playlist-video h4 {
    color: #cacaca;
    font-size: 13px;
    font-weight: normal;
}
#player-playlist .playlist-videos-list .yt-ui-ellipsis {
    background-color: #222;
}
.webkit .yt-ui-ellipsis-2 {
    -webkit-line-clamp: 2;
}
.webkit .yt-ui-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.yt-ui-ellipsis-2 {
    max-height: 2.6em;
}
#player-playlist .video-uploader-byline {
    color: #767676;
    font-size: 11px;
}
.playlist-videos-list .video-uploader-byline {
    font-size: 11px;
    color: #767676;
}
#player-playlist .playlist-videos-list li:hover,
#player-playlist .playlist-videos-list li:hover .yt-ui-ellipsis{background-color:#525252}
.grid-container .watch{margin-top: -35px;}
#player-playlist :not(.watch-queue-nav) .playlist-videos-list li.currently-playing {
    background-color: #3a3a3a;
    height: 61px;
}
#player-playlist :not(.watch-queue-nav) .playlist-videos-list li.currently-playing .yt-ui-ellipsis{background-color:#3a3a3a}
/*Scrollbar*/
.yt-scrollbar ::-webkit-scrollbar{width:9px;height:9px}.yt-scrollbar ::-webkit-scrollbar-thumb{background:#ccc}.yt-scrollbar ::-webkit-scrollbar-thumb:hover{background:#777}.yt-scrollbar-dark ::-webkit-scrollbar{width:10px;height:9px}.yt-scrollbar-dark ::-webkit-scrollbar-track{border-left-color:#434343;background:#434343;-webkit-box-shadow:inset 0 0 1px #434343}.yt-scrollbar-dark ::-webkit-scrollbar-thumb{border-left-color:#8e8e8e;background:#8e8e8e}.yt-scrollbar-dark ::-webkit-scrollbar-track:hover{-webkit-box-shadow:inset 0 0 1px #000}.yt-scrollbar-dark ::-webkit-scrollbar-thumb:hover{background:#1b1b1b}.yt-scrollbar-wide ::-webkit-scrollbar{width:18px}
/*Watch header*/
#watch-header {
    min-height: 150px;
    padding-bottom: 5px;
    position: relative;
}
.yt-card.yt-card-has-padding {
    padding: 15px;
}
.yt-card {
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#watch7-main {
    position: relative;
    margin-top: 380px;
    margin-bottom: 10px;
}
#watch7-content {
    width: 640px;
}
#watch7-content {
    z-index: 0;
}
.watch-main-col {
    clear: left;
    float: left;
    width: 640px;
}
#watch7-headline h1 {
    line-height: normal;
    word-wrap: break-word;
}
.watch-title-container {
    vertical-align: top;
    display: inline-block;
    /*width: 75%;*/
}
#watch7-headline h1 {
    font-size: 20px;
    font-weight: normal;
    color: #000;
    line-height: normal;
    word-wrap: break-word;
}
/*User header*/
#watch7-user-header {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
}
#watch-header .yt-user-photo {
    float: left;
}
.video-thumb {
    position: relative;
}
.yt-thumb-48 {
    width: 48px;
}
.yt-thumb {
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
}
.yt-thumb-square {
    padding-bottom: 100%;
}
.yt-thumb-poster, .yt-thumb-square, .yt-thumb-feed, .yt-thumb-related-playlist, .yt-thumb-default {
    display: block;
    height: auto;
}
.yt-thumb-clip img, .yt-thumb-clip .vertical-align {
    display: inline-block;
    vertical-align: middle;
}
.yt-thumb img {
    font-size: 13px;
    outline: none;
}
#watch-header .yt-user-info a {
    display: inline-block;
    height: 22px;
    color: #333;
    font-weight: 500;
    max-width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
#watch-header .yt-user-info {
    margin-left: 58px;
    font-size: 13px;
    white-space: nowrap;
    width: 380px;
}
#watch-header .yt-user-info a {
    display: inline-block;
    height: 22px;
    color: #333;
    font-weight: 500;
    max-width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
/*Watch description*/
#watch-description {
    color: #333;
    line-height: 14px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.watch-time-text {
    vertical-align: middle;
    font-size: 14px;
}
#watch-description-text{
    font-size: 13px;
    margin-top: 10px;
    line-height: 18px;
}
/*Comments*/
.comment-section-header-renderer {
    padding: 0 0 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
}
strong, b {
    font-weight: 500;
}
.comment-section-header-renderer .alternate-content-link {
    margin-left: 15px;
}
#browse-items-primary .item-section>li>.yt-lockup-tile, .branded-page-box, .branded-page-box-padding {
    padding: 15px;
}
/*Sidebar*/
#watch7-sidebar {
    margin-left: 650px;
}
#watch7-sidebar {
    margin-bottom: 20px;
    margin-top: -370px;
    position: relative;
}
#watch7-sidebar .watch-sidebar-section:last-child {
    margin-bottom: 0;
}
#watch7-sidebar .watch-sidebar-section {
    position: relative;
    z-index: 2;
    /*margin: 0 0 15px 5px;*/
}
.video-list-item {
    position: relative;
    margin-bottom: 15px;
}
.related-list-item .content-wrapper {
    margin-left: 181px;
}
.video-list .video-list-item .title {
    color: #333;
    font-size: 14px;
    font-weight: 500;
}
.video-list-item .title {
    display: block;
    font-size: 1.1666em;
    font-weight: normal;
    line-height: 1.2;
    color: #03c;
    max-height: 3.6em;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
}
.video-list-item .stat {
    display: block;
    font-size: .9166em;
    color: #666;
    line-height: 1.4em;
    height: 1.4em;
    white-space: nowrap;
}
.video-list-item .content-wrapper a {
    padding: 0;
}
.related-list-item .content-link {
    display: block;
    min-height: 94px;
    text-decoration: none;
}
.video-list-item a {
    position: relative;
    padding: 0 5px;
    display: block;
    overflow: hidden;
    color: #333;
}
.video-list .video-list-item .description, .video-list .video-list-item .stat {
    color: #767676;
    font-size: 11px;
}
.related-list-item .thumb-wrapper {
    position: absolute;
    top: 0;
    margin: 0 5px;
    width: 168px;
    height: 94px;
    overflow: hidden;
}
.related-list-item .thumb-wrapper a {
    padding: 0;
}
.related-list-item .thumb-wrapper {
    position: absolute;
    top: 0;
    margin: 0 5px;
    width: 168px;
    height: 94px;
    overflow: hidden;
}
canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}
/*Comments*/
.comment-simplebox-renderer-collapsed {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.comment-simplebox-renderer-collapsed-content {
    border: 1px solid #d5d5d5;
    color: #b8b8b8;
    cursor: pointer;
    margin-left: 11px;
    min-height: 28px;
    border-radius: 2px;
    padding: 10px;
}
.comment-simplebox-renderer {
    padding: 0 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}
.comment-simplebox-renderer, .comment-renderer-replybox {
    overflow: hidden;
    position: relative;
}
.comment-author-thumbnail {
    float: left;
    margin-right: 10px;
}
.video-thumb {
    position: relative;
}
.yt-thumb-48 {
    width: 48px;
}
.yt-thumb {
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
}
.comment-simplebox-arrow {
    height: 12px;
    position: absolute;
    top: 0;
    width: 12px;
    left: 0;
    margin: 0;
}
.comment-simplebox-arrow .arrow-inner, .comment-simplebox-arrow .arrow-outer {
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
}
.comment-simplebox-arrow .arrow-inner {
    border: 7px solid #fff;
    left: 2px;
    top: 1px;
    z-index: 1;
}
.comment-simplebox-arrow .arrow-inner, .comment-simplebox-arrow .arrow-outer {
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
}
.comment-simplebox-arrow .arrow-outer {
    border: 6px solid #d5d5d5;
    left: 0;
    top: 0;
}
.comment-simplebox-renderer-collapsed-content {
    border: 1px solid #d5d5d5;
    color: #b8b8b8;
    cursor: pointer;
    margin-left: 11px;
    min-height: 28px;
    border-radius: 2px;
    padding: 10px;
    font-size: 13px;
}
/*Comment filter*/
.comment-section-sort-menu {
    margin-bottom: 20px;
}
.yt-uix-menu-container, .yt-uix-menu {
    display: inline-block;
    position: relative;
}
.yt-uix-menu-content .yt-uix-menu, .yt-uix-menu-trigger {
    width: 100%;
}
.yt-uix-button-default, .yt-uix-button-default[disabled], .yt-uix-button-default[disabled]:hover, .yt-uix-button-default[disabled]:active, .yt-uix-button-default[disabled]:focus {
    border-color: #d3d3d3;
    background: #f8f8f8;
    color: #333;
}
.yt-uix-button {
    display: inline-block;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.yt-uix-menu .yt-uix-menu-mask, .yt-uix-menu .yt-uix-menu-content {
    left: 100%;
    top: 0;
}
.yt-uix-menu-content-hidden {
    display: none;
}
.yt-uix-menu-content {
    position: absolute;
    z-index: 2000000100;
}
.yt-ui-menu-content {
    background: #fff;
    border: 1px solid #d3d3d3;
    outline: none;
    overflow: visible;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.yt-ui-menu-item.has-icon:before, .yt-ui-menu-item-label {
    display: inline-block;
    vertical-align: middle;
}
.yt-ui-menu-item {
    position: relative;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 25px;
    margin: 0;
    padding: 0 15px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    word-wrap: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.yt-uix-button-default:hover, .yt-uix-button-text:hover {
    border-color: #c6c6c6;
    background: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}
.yt-uix-button:hover {
    text-decoration: none;
}
/*Comments list*/
.comment-section-renderer-items {
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.comment-section-items-loading {
    display: none;
    left: 50%;
    position: relative;
    top: 38%;
}
.yt-spinner-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.yt-spinner-img, .yt-spinner-overlay {
    background: url(//s.ytimg.com/yts/img/icn_loading_animated-vflff1Mjj.gif) no-repeat center;
}
.comment-thread-renderer {
    margin: 0 10px 30px 0;
    line-height: 1.3em;
}
.comment-renderer {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
}
.comment-author-thumbnail {
    float: left;
    margin-right: 10px;
}
.yt-thumb-clip img, .yt-thumb-clip .vertical-align {
    display: inline-block;
    vertical-align: middle;
}
.yt-thumb img {
    font-size: 13px;
    outline: none;
}
.comment-renderer .comment-renderer-content {
    overflow: hidden;
    min-height: 48px;
}
.comment-author-text {
    color: #128ee9;
    font-weight: 500;
    text-decoration: none;
    word-break: break-all;
    font-size: 13px;
}
.comment-renderer-header .comment-renderer-time {
    color: #767676;
    font-size: 11px;
    margin-left: 6px;
}
.comment-renderer-text {
    margin: 3px 0 8px;
}
.comment-renderer-text-content {
    max-height: 65px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 8px;
    color: #000;
    font-size: 13px;
    line-height: 1.3em;
}
.comment-text-toggle {
    margin: -8px 0 10px;
}
.hid {
    display: none;
}
.comment-action-buttons-toolbar .yt-uix-button {
    border: none;
    vertical-align: top;
}
.comment-renderer-reply {
    color: #555;
    opacity: .75;
}
.yt-uix-button {
    display: inline-block;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
/*Comment replied*/
.comment-replies-renderer {
    margin-left: 58px;
}
.comment-replies-renderer .comment-renderer, .comment-replies-renderer .feedback-banner {
    margin: 12px 0;
}
.comment-renderer {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
}
.comment-replies-renderer .comment-renderer-content {
    min-height: 32px;
}
.comment-renderer-author-comment-badge.creator {
    background-color: #008bec;
    border-radius: 9px;
    padding: 1px 6px;
    vertical-align: middle;
}
.comment-renderer-header .comment-renderer-time {
    color: #767676;
    font-size: 11px;
    margin-left: 6px;
}
.comment-renderer-text {
    margin: 3px 0 8px;
}

