// Enesy Style created by congnvc@gmail.com

// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "icons.less";

// Core CSS
@import "scaffolding.less";
@import "grid.less";
@import "type.less";


// Components
@import "header.less";
@import "footer.less";
@import "body.less";

// Components w/ JavaScript
@import "pace.less"; //for page loading progress

// Utility classes


// mixins classes




.hidden {
    display: none!important;
}

.full-height{
	height: 100%;
}
.full-width{
	width: 100%;
}
.text-no-decoration{
    text-decoration: none;
    outline: none;
    border: none
}
.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.pr-10{
	padding-right: 10;
}
.button {
    display: inline-block;
    padding: 1px 16px;
    height: 36px;
    line-height: 34px;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(270deg, #dee4e8, #dae1e5);
    background-image: linear-gradient(180deg, #dee4e8, #dae1e5);
    color: #4d4d4d;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25)
}
.button:hover,
.button:active,
.button:focus {
    background: #c0cbd3
}

.pull-right {
    float: right
}
.pull-left {
    float: left
}
.fa.pull-left {
    margin-right: .3em
}
.fa.pull-right {
    margin-left: .3em
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}


.clear {
    clear: both;
    overflow: hidden
}


