.search-header__results-count {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 16px;
    border-radius: 4px 4px 0 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.search-header__form-wrapper .heading__block {
    padding: 50px 16px 0;
    margin: auto;
    border-radius: 2px;
    text-align: center;
    z-index: 1;
}
.heading__block .heading {
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.3px;
    padding-bottom: 15px;
}
.heading__block .subhead {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 300;
}
.faceted-search{margin-top:10px}
@media (min-width: 569px){.faceted-search{margin-top:20px}}
/*enesy*/

.course-list__column-category b:after{
    font-family:marketplace-glyphs;
    font-style:normal;
    font-weight:normal;
    speak:none;
    text-align:center;
    width:1em;
    content:"ï…‚";
    display:inline-block;
    font-size:9px;
    color:#bababa;
    margin:0 4px 0 8px;
    cursor:default
}
.course-list__column-category b:last-of-type:after{
    display:none
}
.sc-list-nostyle {
    list-style: none;
    margin: 0;
}
.sc-ministats-group>.sc-ministats-item {
    float: left;
}
.sc-ministats-group .sc-ministats-small {
    margin-right: 5px;
    padding-right: 4px;
}
.sc-ministats-group .sc-ministats {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
    padding-right: 6px;
}
a.sc-ministats {
    color: #999;
    text-decoration: none;
}
.sc-ministats-small.sc-ministats-followers:before {
    background-size: 18px 18px;
    background-image: url(../images/enroller.svg);
}
.sc-ministats:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
}
.sc-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sc-ministats-small {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}
.sc-ministats {
    display: inline-block;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #999;
}
.sc-ministats-group>.sc-ministats-item {
    float: left;
}
.sc-ministats-group>.sc-ministats-item:last-child .sc-ministats {
    margin-right: 0;
    padding-right: 0;
}
.sc-ministats-group .sc-ministats-small {
    margin-right: 5px;
    padding-right: 4px;
}
.sc-ministats-group .sc-ministats {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
    padding-right: 6px;
}
.sc-ministats-small.sc-ministats-sounds:before {
    background-size: 18px 18px;
    background-image: url(../images/like.svg);
}
.sc-ministats-small.sc-ministats-share:before {
    background-size: 18px 18px;
    background-image: url(../images/share.svg);
}
.sc-ministats.sc-ministats-small:before {
    width: 16px;
    height: 14px;
}
.sc-ministats:before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
}
.userBadge.horizontal .userBadge-title {
    white-space: nowrap;
}
.userBadge-title {
    margin: 3px 0 0 0;
}
.userBadge.horizontal .userBadge-content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*Course detail*/
.media__body .author-desc{
    font-size: 14px;
}
.item-preview .play-button--initially-visible {
    visibility: visible;
    opacity: .5;
}
.item-preview .play-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/watch-now.svg) no-repeat;
    background-size: auto 30%;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    -moz-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
}
.item-thumbnail .play-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/watch-now.svg) no-repeat;
    background-size: auto 30%;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    -moz-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
}
.item-preview .play-button--initially-visible {
    visibility: visible;
    opacity: .5;
}
.btn-icon.live-preview, .btn-icon.screenshots,.btn--label.btn--group-item,.btn-icon.like,.btn-icon.share,.btn-icon.time,.btn-icon.list{
    background:transparent;
    color:#666666;
}
.btn-icon.live-preview:before{
    background-image: url(../images/enroller.svg);
    background-size: 18px 18px;
}
.btn-icon.like:before{
    background-image: url(../images/like.svg);
    background-size: 18px 18px;
}
.btn-icon.share:before{
    background-image: url(../images/share.svg);
    background-size: 18px 18px;
}
.btn-icon.list:before{
    background-image: url(../images/list.svg);
    background-size: 18px 18px;
}
.btn-icon.time:before{
    background-image: url(../images/clock.svg);
    background-size: 18px 18px;
}
.btn-icon:before {
    content: "";
    float: left;
    height: 17px;
    margin: 1px 10px 0 0;
    width: 17px;
}
.btn-icon:hover:before,
.sc-ministats.sc-ministats-small:hover:before{
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2)
}
.item-preview.-preview-live>a:hover .play-button, 
.item-preview.-preview-screenshot>a:hover .play-button,
.course-list>li:hover .play-button{
    visibility:visible;
    opacity:1;
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1)
}
/*Curriculum*/
.table-responsive {
    overflow-x: auto;
    min-height: .01%;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
}
.table {
    display: table;
    width: 100%;
    margin: 0;
}
.table {
    background-color: transparent;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cur-list .cur-list-title {
    height: 44px;
}
.cur-list .cur-list-title th {
    font-weight: 600;
    padding-top: 30px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.43;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.w30 {
    width: 30px;
}
.tal {
    text-align: left;
}
.cur-list .cur-list-row {
    height: 40px;
}
.cur-list .cur-list-row .cur-icon {
    width: 20px;
    padding-right: 0;
    padding-left: 0;
}
.cur-list i {
    color: #999FA3;
}
.cur-list td {
    vertical-align: middle !important;
}

.udi {
    vertical-align: -8%;
}
.udi-file-o:before {
    content: "\F016";
}
.cur-list .cur-list-row .count {
    font-weight: normal;
    width: 115px;
}
.fx-dif, .dif, .inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.fx-vc, .aic {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.aic {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dif {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.fx {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    min-width: 1px;
}
.flex, .fx {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 1px;
}
.ml15 {
    margin-left: 15px;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 6px 10px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;
}
.btn-primary {
    color: #ffffff !important;
    background-color: #17aa1c;
    border-color: transparent;
}
.btn-primary:hover,.btn-primary:active {
    background-color: #159d1a;
    border-color: transparent;
}
.course-detail .tab-title{
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-top: 0;
    padding-bottom: 0 !important;

}
.course-detail p{
    font-size: 16px;
    padding:0;
    margin-bottom: 10.5px;
}
.regular-list {
    list-style: disc;
    margin-left: 10px;
    padding-left: 10px;
}
#curriculum h2{
    margin-top: 15px;
}
.course-detail .course-lecture-video-icon{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/watch-now.svg) no-repeat;
    background-size: auto 40%;
    background-position: center;
    -moz-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
}
/*Modal*/
a.close-modal {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 1043;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/x.svg) no-repeat 0 0;
}